@charset "UTF-8";
body {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.container-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.container-inspect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.container-guess {
  display: grid;
  grid-template-columns: repeat(4, 290px);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.word-input {
  border: none;
  padding: 16px 32px;
  width: 400px;
  border-radius: 24px;
}
.word-input-first {
  background-image: -webkit-gradient(linear, left top, right top, from(#7A918D), to(#93B1A7));
  background-image: linear-gradient(to right, #7A918D, #93B1A7);
}
.word-input-sec {
  background-image: -webkit-gradient(linear, left top, right top, from(#C5EDAC), to(#DBFEB8));
  background-image: linear-gradient(to right, #C5EDAC, #DBFEB8);
}
.word-input:focus-within {
  outline: none;
}

.range-input {
  border: none;
  padding: 16px 32px;
  width: 200px;
  border-radius: 24px;
}
.range-input-first {
  background-color: #7EBC89;
}
.range-input-sec {
  background-color: #A5CB90;
}
.range-input:focus-within {
  outline: none;
}

.guess-input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  width: 70px;
  color: white;
}
.guess-input :focus-within {
  outline: none;
}

.word-btn {
  background-color: #99C2A2;
  border: none;
  padding: 16px 32px;
  border-radius: 24px;
  margin: 0 auto;
  display: block;
  color: white;
}

.range-btn {
  background-color: #F2C078;
  border: none;
  padding: 16px 32px;
  border-radius: 24px;
  margin: 50px auto 0 0;
  display: block;
  color: white;
}

.inspect-btn {
  background-color: #B7F0AD;
  border: none;
  padding: 16px 32px;
  color: white;
  border-radius: 24px;
  display: block;
  max-height: 60px;
}

.guess-btn {
  background-color: #ECE2D0;
  color: black;
  border: none;
  border-radius: 24px;
  padding: 12px 30px;
  letter-spacing: 1px;
  font-weight: 600;
}
.guess-btn-first {
  margin-bottom: 15px;
}
.guess-btn-range {
  background-color: #6D2E46;
  color: black;
}

.reg-btn {
  background-color: #415241;
  color: #F2F2F2;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 6px;
  display: block;
}

.range-slider {
  position: relative;
  width: auto;
  z-index: 1;
  bottom: 0;
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  background: transparent;
  bottom: -20px;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 40px;
  height: 40px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  height: 40px;
  background: #ECE2D0;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  border-radius: 19px;
  z-index: -1;
}

.slider-range {
  position: absolute;
  height: 100%;
  background: #6D2E46;
  border-radius: 19px;
}

.output {
  margin: 10px 0 20px 0;
  font-size: 18px;
  color: black;
  font-weight: 600;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.form-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 25px;
}
.form-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 15px;
}

.form-title {
  color: #415241;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.form-title-front {
  margin-bottom: 25px;
}
.form-title-back {
  margin-bottom: 16px;
}

.reg-desc {
  color: #415241;
  font-size: 16px;
  font-weight: 500;
  margin: 30px auto 0 auto;
  text-align: center;
  display: block;
}

.reg-input {
  border-radius: 6px;
  border: 1px solid #82A649;
  height: 60px;
  width: 380px;
  padding-left: 50px;
}

.reg-link {
  position: relative;
}

.svg-form {
  position: absolute;
  left: 12px;
  top: 18px;
}

.section-word {
  padding: 100px 0;
}

.word-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 50px;
}

.confeti-container {
  display: none;
  position: absolute;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-range {
  padding: 200px 0;
}

.range-wrapper {
  margin-right: 200px;
}

.circle {
  position: relative;
}
.circle-path {
  position: absolute;
}
.circle-path-first {
  fill: #FE5D26;
}
.circle-path-sec {
  left: 82px;
  bottom: 100px;
  fill: #EEC144;
}
.circle-path-third {
  bottom: 105px;
  left: 245px;
  fill: #A0DAFF;
}
.circle-path-fourth {
  left: 323px;
  fill: #4C9459;
}
.circle-path-arr {
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  left: 165px;
  fill: #492E08;
  z-index: 2;
}
.circle-path-arr > svg {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  rotate: 270deg;
}

.section-inspect {
  padding: 100px 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3); /* Напівпрозорий фон */
  z-index: 1;
}

.section-inspect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.inspect-textarea {
  border: none;
  border-radius: 24px;
  resize: none;
  width: 700px;
  height: 250px;
  -webkit-box-shadow: 10px 10px 20px #b8b8b8, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #b8b8b8, -10px -10px 20px #ffffff;
  padding: 15px;
}

.higlight {
  background-color: #82A649;
}

[contenteditable=true] {
  border: 1px solid #82A649;
  padding: 10px;
}

.section-guess {
  padding: 100px 0;
}

.guess-container {
  background-color: #ECE2D0;
  border-radius: 24px;
  padding: 24px;
}
.guess-container-first {
  grid-column: 1/3;
  grid-row: 1;
}
.guess-container-sec {
  grid-column: 3/5;
  grid-row: 1/3;
}
.guess-container-third {
  grid-column: 1/2;
  grid-row: 2;
  position: relative;
}
.guess-container-fourth {
  position: relative;
  grid-column: 2/3;
  grid-row: 2;
}

.guess-dificulty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 50px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.guess-dificulry-range {
  background-color: #F0992D;
  opacity: 50%;
  width: 70px;
  border-radius: 24px;
}
.guess-dificulry-range-first {
  height: 100px;
}
.guess-dificulry-range-sec {
  height: 120px;
}
.guess-dificulry-range-third {
  height: 150px;
}
.guess-dificulry-range-fourth {
  height: 80px;
}
.guess-dificulry-range-fifth {
  height: 35px;
}

.guess-title {
  color: black;
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}
.guess-title-light {
  color: white;
  max-width: 230px;
}
.guess-title-third {
  text-align: right;
}

.guess-desc {
  color: black;
  font-weight: 400;
  font-size: 20px;
  max-width: 200px;
}
.guess-desc-light {
  color: white;
  max-width: 230px;
}
.guess-desc-main {
  max-width: none;
  margin: 15px 0;
}

.guess-wrapper {
  background-color: #6D2E46;
  border-radius: 24px;
  padding: 24px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.guess-wrapper-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.geuss-input-wrapper {
  margin: 27px 0 25px 0;
  margin-left: auto;
}

.guess-value {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  font-weight: 600;
  font-size: 36px;
}

.section-register {
  padding: 100px 0;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  display: none;
}

.reg-container {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  height: 450px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  margin-top: 60px;
}

.reg-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.card {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: #2b2e38;
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  background-image: url("../main/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #82A649;
}

.card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(0, -50%, 35px) perspective(100px);
          transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}/*# sourceMappingURL=main.css.map */