$set-one-gradient-left-first: #7A918D;
$set-one-gradient-rifgt-first: #93B1A7;
$set-one-gradient-left-sec: #C5EDAC;
$set-one-gradient-rifgt-sec: #DBFEB8;
$set-one-bg-btn: #99C2A2;


$set-two-main: #FAEDCA;
$set-two-pale-bl: #A0DAFF;
$set-two-cool: #7EBC89;
$set-two-bold: #FE5D26;
$set-two-warm: #F2C078;
$set-two-soft: #EEC144;
$set-two-pale: #A5CB90;
$set-two-dark: #4C9459;
$set-two-vibrant: #492E08;


$set-three-light: #B7F0AD;
$set-three-rich: #E8D33F;


$set-four-rich: #6D2E46;
$set-four-soft: #F0992D;
$set-four-cool: #CEBEBE;
$set-four-netural: #ECE2D0;


$set-five-dark: #415241;
$set-five-light: #F2F2F2;
$set-five-pale: #4A4A4A;
$set-five-br: #82A649;
